[package]
name = "gitlab-runner"
version = "0.1.0"
authors = ["Sjoerd Simons <sjoerd@collabora.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Helper crate to build custom gitlab runners"
homepage = "https://github.com/collabora/gitlab-runner-rs"
repository = "https://github.com/collabora/gitlab-runner-rs"
readme = "../README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
flate2 = "1.0.30"
glob = "0.3"
reqwest = { version = "0.12.0", features = [ "json", "multipart", "stream" ] }
tokio = { version = "1.35.0", features = [ "full" ] }
url = "2.5.4"
serde = { version = "1.0.200", features = [ "derive" ] }
serde_json = "1.0.64"
thiserror = "2.0.11"
bytes = "1.9.0"
zip = "2.2.2"
pin-project = "1.0.7"
futures = "0.3.15"
async-trait = "0.1.86"
tempfile = "3.15.0"
parking_lot = "0.12.0"
tracing-subscriber = "0.3.10"
tracing = "0.1.40"
doc-comment = "0.3.3"
sha2 = "0.10.8"
hmac = "0.12.1"
rand = "0.9.0"
tokio-util = { version = "0.7.10", features = [ "io" ] }

[dev-dependencies]
tokio = { version = "1.35.0", features = [ "full", "test-util" ] }
tracing-subscriber = { version = "0.3.10", features = ["env-filter", "json"] }
gitlab-runner-mock = { path = "../gitlab-runner-mock", version = "0.1.0" }
futures = "0.3.15"
anyhow = "1.0.79"
clap = { version = "4.5.26", features = ["derive"] }
clap_derive = "4.5.24"

[build-dependencies]
vergen = { version = "8.3.1", features = ["git", "gitcl"] }
